  body {
  background-color: #a7dbe3;
  color: white;
  font-size: 21px;
}

h1 {
font-size: 70px;
color: #3747b3;
}

p {
  color: #2f4c5c;
}

/* the CSS Box Model */
/*
  Margin: sit outside the edge of the border. You can set the width of a margin to create a gap between the borders of two adjacent boxes.
  Border:
  Padding: is the space between the border of a box and any content contained within it. 

  All of these ADD on top of the width and hight. 
  300px + 25px + 100px + 10px + 10px + 100px + 100px = 645px

*/

.box {
  background-color: pink;
  width: 300px;
  
  margin: 100px;
  border: 10px solid red;
  padding: 50px 100px 300px 25px; 
         /*top, right, bottom left*/

}

