<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link href="style.css" rel="stylesheet" />
<body>
  <h1>The Evolution of the Bicycle</h1>
  <blockquote>"Life is like riding a bycicle. To keep your balance you muct keep moving." - Albert Einstein</blockquote>
  <p class="first">In 1817, Baron Karl Von Drais of Germany designed and built a two-wheeled, wooden vehicle that was straddled and propelled by walking swiftly. Invented to fill the need for horseless transport during a shortage of oats, Von Drais called it the laufmaschine or running machine.</p>
  <p class="relative">Denis Johnson made refinements to this model and during the summer of 1819 the “hobby-horse” became the craze and fashion in London society.  Several parts were made of metal, which allowed the vehicle to be lighter than the continental version.</p>
  <p>Many historians credit Pierre and Ernest Michaux as being the true inventors of the modern bicycle. This father and son duo operated a company that made carriages in Paris where they first assembled a two-wheeled velocipede around 1867. This bike was was propelled like a tricycle, with its cranks and pedals connected to the front wheel.</p>
  <p class="third">Many historians credit Pierre and Ernest Michaux as being the true inventors of the modern bicycle. This father and son duo operated a company that made carriages in Paris where they first assembled a two-wheeled velocipede around 1867. This bike was was propelled like a tricycle, with its cranks and pedals connected to the front wheel.</p>
  <p class="last">Many historians credit Pierre and Ernest Michaux as being the true inventors of the modern bicycle. This father and son duo operated a company that made carriages in Paris where they first assembled a two-wheeled velocipede around 1867. This bike was was propelled like a tricycle, with its cranks and pedals connected to the front wheel.</p>
  
</body>
</html>