/* Custom properties - CSS variables - contain specific values to be reused throughout a document. They are set using custom property notation (e.g., --main-color: var (--main-color);). */


:root {
  --div-background-color:red;
  --text-color: black;
  --div-pading: 20px;
  --div-margin: 20px;
}

body {
  background-color: var(--background-color, pink)
}

.child {
  background-color: var(--div-background-color);
  color: var(--text-color);
}

.one {
  --div-background-color: blue;
  --text-color: white;
}

.one-one {
  margin: var(--div-margin);
  padding: var(--div-pading);
}

.one-two {
  margin: var(--div-margin);
  padding: var(--div-pading);
}

